//  Brand and Contrast Color
$brand-color__default--dark: #105749;
$brand_color__default--light: #DDF49F;
$brand_color__default--extra-light: #F9FDED;

$brand-color__contrast--dark: #F8CF7F;
$brand-color__contrast--light: #FEF6E7;

// Greytones
$black: #0f0f0f;
$grey-dark: #2F2F2F;
$grey-light: #9A9A9A;
$grey-extra-light: #FBFBFB;
$grey-extra-light_border: #DBDBDB;
$white: #fff;
