// svg-icons

$icon-attach: url(../assets/images/icon_attach.svg);
$icon-attic: url(../assets/images/icon_attic.svg);
$icon-car: url(../assets/images/icon_car.svg);
$icon-cellphone: url(../assets/images/icon_cellphone.svg);
$icon-elevator: url(../assets/images/icon_elevator.svg);
$icon-envelope: url(../assets/images/icon_envelope.svg);
$icon-factory: url(../assets/images/icon_factory.svg);
$icon-furniture: url(../assets/images/icon_furniture.svg);
$icon-home: url(../assets/images/icon_home.svg);
$icon-houses: url(../assets/images/icon_houses.svg);
$icon-layers: url(../assets/images/icon_layers.svg);
$icon-money: url(../assets/images/icon_money.svg);
$icon-person: url(../assets/images/icon_person.svg);
$icon-phone: url(../assets/images/icon_phone.svg);
$icon-recycle: url(../assets/images/icon_recycle.svg);
$icon-schedule: url(../assets/images/icon_schedule.svg);
$icon-shelf: url(../assets/images/shelf.svg);
$icon-shopping-cart: url(../assets/images/icon_shopping-cart.svg);
$icon-stairs: url(../assets/images/icon_stairs.svg);
$icon-tools: url(../assets/images/icon_tools.svg);
$icon-trending-up: url(../assets/images/icon_trending-up.svg);
$icon-upload: url(../assets/images/icon_upload.svg);
$icon-villa: url(../assets/images/icon_villa.svg);