@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("assets/fonts/TitilliumWeb/TitilliumWeb-Regular.eot");
  src: url("assets/fonts/TitilliumWeb/TitilliumWeb-Regular.woff") format("woff"), url("assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url("assets/fonts/TitilliumWeb/TitilliumWeb-SemiBold.eot");
  src: url("assets/fonts/TitilliumWeb/TitilliumWeb-SemiBold.woff") format("woff"), url("assets/fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Urbanist-Medium";
  src: url("assets/fonts/Urbanist/Urbanist-Medium.eot");
  src: url("assets/fonts/Urbanist/Urbanist-Medium.woff") format("woff"), url("assets/fonts/Urbanist/Urbanist-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Urbanist-SemiBold";
  src: url("assets/fonts/Urbanist/Urbanist-SemiBold.eot");
  src: url("assets/fonts/Urbanist/Urbanist-SemiBold.woff") format("woff"), url("assets/fonts/Urbanist/Urbanist-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Urbanist-Bold";
  src: url("assets/fonts/Urbanist/Urbanist-Bold.eot");
  src: url("assets/fonts/Urbanist/Urbanist-Bold.woff") format("woff"), url("assets/fonts/Urbanist/Urbanist-Bold.ttf") format("truetype");
  font-display: swap;
}
.benefit-card {
  width: 350px;
  height: 150px;
  border-radius: 33px;
  background-color: #fff;
  border: 1px solid #DBDBDB;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.benefit-card--title {
  width: calc(100% - 66px);
  display: flex;
  justify-content: space-between;
  padding: 21px 0 0 0;
  margin: 0 0 0 33px;
}
.benefit-card--title p {
  margin: 0;
  font-family: "Urbanist-Bold", Helvetica, Arial, sans-serif;
  font-size: 5.7em;
  color: #2F2F2F;
}
.benefit-card--title--icon {
  width: 77px;
  height: 77px;
  border-radius: 77px;
  background-color: #FEF6E7;
  background-repeat: no-repeat;
  background-position: center center;
}
.benefit-card--subtitle {
  width: calc(100% - 66px);
  margin: 3px 0 0 33px;
}
.benefit-card--subtitle p {
  width: 100%;
  font-family: "Urbanist-Medium", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.9em;
  color: #9A9A9A;
  margin: 0;
}

.trending-up .benefit-card--title--icon {
  background-image: url(../assets/images/icon_trending-up.svg);
}

.recycle .benefit-card--title--icon {
  background-image: url(../assets/images/icon_recycle.svg);
}
