@use '../abstracts/icons' as icon;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;
@use '../abstracts/margins' as margin;
@use '../abstracts/fonts';

.herobox {

    & article p {
        color: color.$white;
    }

    article .buttons {
        width: 70%;
    }
}

@media (max-width: 1200px ) {

    .herobox article button {
       margin: 0 10px 19px 0;
    }
}

