@use '../abstracts/icons' as icon;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;
@use '../abstracts/margins' as margin;
@use '../abstracts/fonts';


.intro {
    width: 100%;
    height: auto;
    background-color: color.$brand_color__default--extra-light;

    & article {
        border: 1px solid black;
    }

    article h2,
    article h1,
    article p,
    article .buttons {
        float: right;
    }

    & article h2 {
        color: color.$brand-color__default--dark;
    }

    article p {
        margin: 0 0 29px 0;
    }
}



